# Dir navigation
alias ..='cd ..'
alias ~='cd ~'
alias ll="ls -alh"
alias web="cd /Users/eddie/Sites"


# Utilities
alias g="git"
alias vim="mvim"
alias vimdiff="mvim -d"
alias startvm="VBoxManage startvm --type headless"
alias vbox="VBoxManage controlvm"
alias eclim="/Applications/eclipse/eclimd &"

# Development stuff
alias edithosts="sudo mvim /etc/hosts"
alias gitsync="git pull upstream master && git push origin master"

if [ -f ~/.aliases_custom ]; then
	source ~/.aliases_custom
fi
