*.DS_Store
.aliases_custom
.adobe
.android
.aspera
.bash_history
.bash_profile_custom
.bower
.cache
.CFUserTextEncoding
.composer
.config
.ctrlp_cache/*
.cups
.deltafy
.dvdcss
.dropbox
.eclipse
.eclim
.filebot
.filezilla/bookmarks.xml
.filezilla/filezilla.xml
.filezilla/lockfile
.filezilla/layout.xml
.filezilla/recentservers.xml
.filezilla/queue.sqlite3
.filezilla/sitemanager.xml
.fseventsd
.gdb_history
.gem
.gitk
.gstreamer-0.10/*
.heroku
.irb-history
.idlerc
.ipython
.lesshst
.MacOSX
.Makemkv
.mysql_history
.netbeans
.node-gyp
.node_modules
.npm
.pearrc
.post-review-cookies.txt
.putty
.reviewboardrc
.rnd
.rvm
.secrets
.ssh
.Spotlight-V100
.subversion
.TemporaryItems
.Trash
.Trashes
.titanium
.vimgolf
.viminfo
.vim_session
.vim-fuf-data
.zcompdump
.zsh-update
.zsh_history
Applications
bin
Books
Desktop
Development
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
share
Settings
Sites
VirtualBox*
VMs
Virtual*
