*.DS_Store
.aliases_custom
.adobe
.android
.anyconnect
.aspera
.atom
.bash_history
.berkshelf
.bower
.cache
.CFUserTextEncoding
.composer
.config
.ctrlp_cache
.cups
.deltafy
.dvdcss
.dropbox*
.eclipse
.eclim
.filebot
.filezilla
.fseventsd
.gdb_history
.gem
.gitk
.heroku
.irb-history
.lesshst
.MacOSX
.Makemkv
.mysql_history
.node-gyp
.node_modules
.npm
.npmrc
.pearrc
.pip
.post-review-cookies.txt
.profile_custom
.putty
.reviewboardrc
.rnd
.rubies
.rvm
.secrets
.ssh
.ssl
.Spotlight-V100
.subversion
.TemporaryItems
.Trash
.Trashes
.titanium
.vagrant.d
.vim
.viminfo
.vim_session
.yeoman
.zcompdump*
.zsh-update
.zsh_history
Applications
Books
Desktop
Development
Documents
Downloads
Dropbox
Google Drive
Library
Movies
Music
Pictures
Public
Settings
Sites
stkeystore.p12
VirtualBox
VMs
