*.DS_Store
.Trash
.Trashes
.MacOSX
.CFUserTextEncoding
.Spotlight-V100
.TemporaryItems
.ssh
.bash_history
.cups
.dropbox
.eclipse
.filezilla/bookmarks.xml
.filezilla/lockfile
.filezilla/recentservers.xml
.filezilla/queue.sqlite3
.fseventsd
.idlerc
.ipython
.netbeans
.putty
.viminfo
.vim-fuf-data
.vim/bundles
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Sites
VirtualBox*

