[submodule "files/.oh-my-zsh_custom/plugins/zsh-nvm"]
	path = files/.oh-my-zsh_custom/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
[submodule "files/.vim/bundle/Vundle.vim"]
	path = files/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "files/.oh-my-zsh"]
	path = files/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
